.NavBar {
   position: fixed;
   top: 0;
   left: 0;
   width: 97vw;
   height: 10vh;
   padding: 0 2vw 0 1vw;
   color: #777;
   background-color: #e7e7e7;
   border: 1px solid #757373;
   display: flex;
   justify-content: space-between;
}

@media(max-width: 810px){
   .NavBar {
      display: none;
   }
}