.Button {
   display: block;
   margin: 1vh auto;
   outline: none;
}

.submit {
   width: 30%;
   margin-top: 4vh;
   padding: 1%;
   font-size: 1.1em;
   font-weight: bold;
   background-color: lightgray;
   box-shadow: 2px 2px 3px gray;
}

.landing {
   width: 20%;
   margin-top: 4vh;
   padding: 1%;
   font-size: 1.3em;
   font-weight: bold;
   background-color: lightgray;
   box-shadow: 1px 1px 3px red;
   border-radius: 8px;
}

.content {
   width: 72%;
   padding: 1%;
   margin-top: 3vh;
   font-size: 1.1em;
   font-weight: bold;
   text-decoration: none;
   background-color: lightgray;
   box-shadow: 2px 2px 3px gray;
}

@media(max-width: 600px){
   .landing {
      width: 80vw;
      margin: 0 auto;
   }
}