.InputField {
   border: none;
   width: 50%;
   margin: 0 auto;
}

.InputField label {
   display: block;
   font-size: 1.2em;
}

.InputField input {
   width: 100%;
   height: 3vh;
   padding: 5px;
   border-radius: 4px;
   font-size: 1.2em;
   box-shadow: 2px 2px 3px gray;
}
