.NavItem {
   padding: 0 1.5vw;
   border-right: 1px solid gray;
   margin: 50px 0;
   box-sizing: border-box;
   display: block;
   width: 100%;
   font-size: 1.5em;
}

.NavItem:hover {
   transform: scale(1.05);
}

.NavItem:active {
   transform: scale(1);
}

.NavItem:last-child {
   border-right: none;
}

@media (min-width: 811px) {
   .NavItem {
      margin: 0;
      display: block;
      height: 100%;
      width: auto;
      align-items: center;
   }

   .NavItem a {
      height: 100%;
      padding: 16px 10px;
      border-bottom: 4px solid transparent;
   }
}